@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap");
@import url("https://cdn.statically.io/gist/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/fad2f254369fb54250260077a4c87391a6280c52/gotham.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-color-bright-gray: 234 235 238;
  --tw-color-blueberry: 59 130 246;

  --color-bright-gray: rgb(var(--tw-color-bright-gray)); /* #EAEBEE */
  --color-blueberry: rgb(var(--tw-color-blueberry)); /* #3B82F6  */
}
