@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-color-nero: 39 36 37;
  --tw-color-bright-gray: 234 235 238;
  --tw-color-blueberry: 59 130 246;
  --tw-color-disable: 223 225 226;
  --tw-color-light-silver: 209 213 219;
  --tw-color-auro-metal-saurus: 107 114 128;
  --tw-color-alice-blue: 239 246 255;

  --color-bright-gray: rgb(var(--tw-color-bright-gray)); /* #EAEBEE */
  --color-blueberry: rgb(var(--tw-color-blueberry)); /* #3B82F6  */
  --color-disable: rgb(var(--tw-color-disable)); /* #DFE1E2 */
  --color-nero: rgb(var(--tw-color-nero)); /* #272425 */
  --color-light-silver: rgb(var(--tw-color-light-silver)); /* #D1D5DB */
  --color-auro-metal-saurus: rgb(
    var(--tw-color-auro-metal-saurus)
  ); /* #6B7280 */
  --color-alice-blue: rgb(var(--tw-color-alice-blue)); /* #FFF8EF */
}

@layer components {
  body {
    font-family: "Inter", sans-serif;
  }

  .modal-scrollbar::-webkit-scrollbar {
    width: 0.313rem;
  }

  .modal-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .modal-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-light-silver);
    border-radius: 0.125rem;
  }

  .modal-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-auro-metal-saurus);
  }

  .modal-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-light-silver) transparent;
  }

  .table-row:hover .table-cell {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
  }
}
